<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title> Contact page</title>
</head>
<body>
        <header>
        <h1> Contact NRIIT Learning Management System</h1>
        <P>Learn Practice Get Placed</P>
        <nav>
             <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/courses">Courses</a>
            <a href="/login">login</a>
            <a href="/register">Register</a>
            <a href="/trainers">Trainers</a>


        </nav>
        <hr>
        </header>
        <main>
            <section>
                <h2>Contact us</h2>
                <p>NRI Institute of Information Technology</p>
                <p>Agiripalli,Andhra Pradesh</p>
                <p>Email: info@nriit edu</p>
                <p>Contact: 91+9876543210</p>
            </section>
            <section>
                <h2>Institute Audio</h2>
                <audio controls>
                    <source src="audio/intro.mp3"type="audio/mp3">
                </audio>
            </section>
            <section>
                <h2>Campus Tour</h2>
                <video width="500" controls>
                    <source src="video/intro.mp4" type="video/mp4">
                </video>
            </section>
            <section>
                <h2>Locate Us</h2>
                <iframe src="https://www.google.com/maps?qAgiripalli&output=embed" width="600"height="350"></iframe>            
            </section>
        </main>
        <footer>
            <hr>
            <p>&copy; 2026 NRIIT Learning Management System</p>
            <p>Email: info@nriit.edu</p>
            <p>Phone: +9876543210</p>
            <p>Follow Us:</p>
            <a href="#">Facebook</a> |
            <a href="#">Instagram</a> |
            <a href="#">LinkedIn</a>
        </footer>
        <script src="js/script.js"></script>
</body>
</html>