<DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title> Python Fullstack</title>
</head>
<body>
        <header>
        <h1>NRIIT Learning Management System</h1>
        <P>Learn Practice Get Placed</P>
        <nav>
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
            <a href="courses.html">Courses</a>
            <a href="login.html">login</a>
            <a href="register.html">Register</a>
            <a href="trainers.html">Trainers</a>

        </nav>
        <hr>
        </header>
        <main>
        <section>
            <h2 id="welcome">Welcome to NRIIT Learning Managemnet System</h2>
            <p>We are a leading provider of online learning solutions, offering a wide range of courses and training
                programs to help individuals and organizations achieve their learning goals. </p>
            <img src="imagess/image.jpg" alt="Banner" width="500">
        </section>
        <section>
            <h2>Why Choose us?</h2>
            <ul>
                <li>Experinced Trainers</li>
                <li>Industry Projects</li>
                <li>Placement Assistance</li>
                <li>Flexible Learning</li>
            </ul>
        </section>
        <section> 
            <h2>Popular Courses</h2>
            <article>
                <h3>Python FullStack Development</h3>
                <p>Learn Python FullStack</p><br>
                <p>
                    Html,CSS,JavaScript,Flask,SQL
                </p>
            </article>
        </section>
    </main>
        <footer>
        <hr>
        <p>&copy; 2026 NRIIT Learning Management System</p>
        <p>Email: info@nriit.edu</p>
        <p>Phone: +91 9876543210</p>
        <p>Follow Us:</p>
        <a href="#">Facebook</a> |
        <a href="#">Instagram</a> |
        <a href="#">LinkedIn</a>
    </footer>
    <script src="js/script.js"></script>   
</body>
</html>